.idea
.php_cs
.php_cs.cache
.phpunit.result.cache
build
composer.lock
coverage
docs
phpunit.xml
psalm.xml
vendor
logs
*.log
npm-debug.log*
*.iml
*.ipr
*.iws
.idea_modules/
*.lock
*.tmp
*.swp
mix-manifest.json
composer.phar
pids
*.pid
*.seed
lib-cov
.grunt
.lock-wscript
build/Release
node_modules
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
/out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env.*.php
.env.php
.env
.env.backup
.env.production
/bootstrap/compiled.php
.phpactor.json
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.vagrant
cache/*
omestead.yaml
_ide_helper.php
.phpstorm.meta.php
.gitmodules
public/storage
!public/vendor
!resources/views/vendor
.side
.cache
.pki
.local
package-lock.json
