name: Bump version

on:
  workflow_dispatch:

jobs:
  bump-version:
    name: Bump version

    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.release.target_commitish }}
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.ACCESSTOKEN }}
          tag_prefix: ""
      - name: Create a GitHub release
        id: release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.ACCESSTOKEN }}
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
      - name: Upload assets file
        shell: bash
        run: gh release upload $TAG fortune-ad-inserter.zip
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESSTOKEN }}
          GIT_EMAIL: github-actions[bot]@users.noreply.github.com
          GIT_NAME: github-actions[bot]
          TAG: ${{ steps.tag_version.outputs.new_tag }}
